:root {
    --blue_sinco: #0071BC;
    --grey_thead: #4A5863;
    --grey_line: #B4B4B4;
    --grey_bg: #f8f8f8;
    --bg_soft: #EAEDF8;
    --bg_head: rgba(129, 152, 208, 0.34);
    --green_soft: #EDF8E2;
    --green_ok: #8FC73E;
    --white: #FFFFFF;
}

table {
    border-collapse: collapse;
    margin: 0px;
    border-bottom: 0px;
}

th {
    height: 40px;
    border-right: var(--white) solid 1px;
    padding: 1em;
}

th:last-child, td:last-child {
    border-right: 0px;
}

tr:last-child {
    border-bottom: 0px;
    border-right: 0px;
}

td:first-child {
    border-left: 0px;
}

td {
    border: 1px solid var(--grey_line);
    padding: 2px;
    text-align: center;
    min-height: 1em;
}

.selected {
    background-color: var(--green_soft);
}

tbody tr:hover {
    background-color: var(--green_soft);
}

tbody {
    background-color: var(--grey_bg);
}

.contenedor-componente {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    font-size: smaller;
    margin: 1em;
    border: solid var(--grey_thead) 1px;
    
}

.botons {
    display: flex;
}

.btn-crear {
    background-color: var(--blue_sinco);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1em;
    padding: 0 1em 0 1em;
    color: var(--white);
    border-radius: 1px;
    height: 40px;
    width: 160px;
    border: solid var(--grey_bg) 1px;
    cursor: pointer;
}

.btn-crear:hover {
    border: 1px;
    background: var(--grey_thead);
    border-style: inset;
}

.btn-accion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background: var(--bg_soft);
    border-radius: 1px;
    cursor: pointer;
    border: solid var(--grey_bg) 1px;
}

.btn-accion:hover {
    background-color: #E2E7FC;
    border: var(--grey_bg) 1px;
    border-style: outset;
}

.main-thead {
    background-color: var(--grey_thead);
    color: var(--white);
}

.header-componente {
    background: #104F863B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    color: var(--grey_thead);
    /* border-bottom: solid 2px; */
    /* border-color: var(--grey_line); */
}

h1 {
    font-size: 2rem;
}